# Podman Quadlet Container File
[Unit]
Description=SCA Tool Container
Wants=network-online.target
After=network-online.target

[Container]
Image=registry.opensuse.org/home/jrecord/branches/opensuse/templates/images/tumbleweed/containers/suse/alp/workloads/scatool:latest
Environment=MONITORING=1
Environment=MONITORING_ID=ce4ebd84-bb19-4d42-a077-870ca0ad024d
Volume=scavol:/var/scatool
ContainerName=scamonitor

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target

